<ng-container [ngSwitch]="theme">
    <ng-container *ngSwitchCase="1">
        <div class="arrow-container arrow-container-1 theme-1-left-arrow">
            <button class="button arrow left-arrow theme-1-button"></button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="2">
        <div class="arrow-container arrow-container-1 theme-2-left-arrow">
            <button class="button arrow left-arrow theme-2-button"></button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="3">
        <div class="arrow-container arrow-container-1 theme-3-left-arrow">
            <button class="button arrow left-arrow theme-3-button"></button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="4">
        <div class="arrow-container arrow-container-1 theme-4-left-arrow">
            <button class="button arrow left-arrow theme-4-button"></button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="5">
        <div class="arrow-container arrow-container-1 theme-5-left-arrow">
            <button class="button arrow left-arrow theme-5-button"></button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="6">
        <div class="arrow-container arrow-container-1 theme-6-left-arrow">
            <button class="button arrow left-arrow theme-6-button"></button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="7">
        <div class="arrow-container arrow-container-1 theme-7-left-arrow">
            <button class="button arrow left-arrow theme-7-button"></button>
        </div>
    </ng-container>

</ng-container>

