<section class="pokemon-container">
    <div class="pokemon-card side-card">
        <img src={{leftPokemon?.sprites?.front_default}} 
        alt="Foto de un pokemon" class="pokemon-img side-pokemon-image">
    </div>
    <div class="pokemon-card main-card">
        <img src={{mainPokemon?.sprites?.front_default}}
            alt="Foto de un pokemon" class="pokemon-img main-pokemon">
        <span class="pokemon-data pokemon-name">Name: {{mainPokemon?.name}}</span>
        <span class="pokemon-data pokemon-type">Type: {{mainPokemon?.types?.[0]?.type?.name}}</span>
        <span class="pokemon-data pokemon-number">Number: {{mainPokemon?.id}}</span>
    </div>
    <div class="pokemon-card side-card">
        <img src={{rightPokemon?.sprites?.front_default}}
            alt="Foto de un pokemon" class="pokemon-img side-pokemon-image">
    </div>
</section>
