<section class="pokemon-container">
    <div class="pokemon-card side-card">
        <img src="https://wallpapercave.com/wp/wp1935318.jpg" alt="Foto de un pokemon"
            class="pokemon-img side-pokemon-image">
    </div>
    <div class="pokemon-card main-card">
        <img src="https://c4.wallpaperflare.com/wallpaper/910/198/377/ishmam-feraligatr-pokemon-wallpaper-preview.jpg"
            alt="Foto de un pokemon" class="pokemon-img">
        <span class="pokemon-name">Name: Feraligatr</span>
        <span class="pokemon-type">Type: Water</span>
        <span class="pokemon-number">Number: 917</span>
    </div>
    <div class="pokemon-card side-card">
        <img src="https://wallpapers.com/images/featured/charizard-pokemon-pictures-z0uot60vcwes3pvk.jpg"
            alt="Foto de un pokemon" class="pokemon-img side-pokemon-image">
    </div>
</section>
