<ng-container [ngSwitch]="theme">
    <ng-container *ngSwitchCase="1">
        <div class="arrow-container arrow-container-2 theme-1-right-arrow">
            <button class="button arrow right-arrow theme-1-button"></button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="2">
        <div class="arrow-container arrow-container-2 theme-2-right-arrow">
            <button class="button arrow right-arrow theme-2-button"></button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="3">
        <div class="arrow-container arrow-container-2 theme-3-right-arrow">
            <button class="button arrow right-arrow theme-3-button"></button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="4">
        <div class="arrow-container arrow-container-2 theme-4-right-arrow">
            <button class="button arrow right-arrow theme-4-button"></button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="5">
        <div class="arrow-container arrow-container-2 theme-5-right-arrow">
            <button class="button arrow right-arrow theme-5-button"></button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="6">
        <div class="arrow-container arrow-container-2 theme-6-right-arrow">
            <button class="button arrow right-arrow theme-6-button"></button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="7">
        <div class="arrow-container arrow-container-2 theme-7-right-arrow">
            <button class="button arrow right-arrow theme-7-button"></button>
        </div>
    </ng-container>
</ng-container>

