@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root{
    --color-principal: #f3ed1a;
    --color-secundario:#D6D900;
    --color-principal-2:#5ECF5D;
    --color-secundario-2:#27B526;
    --color-principal-3:#58BFBC;
    --color-secundario-3:#3EADA8;
    --color-principal-4: #DB5539;
    --color-secundario-4:#BA4F3A;
    --color-principal-5:#9428B8;
    --color-secundario-5:#803199;
    --color-principal-6:#424242;
    --color-secundario-6:#303030;
     --color-principal-7:#F7F7F7;
    --color-secundario-7:#E3E3E3;
    --color-bordes:#ACB000;
    --color-bordes-2:#46AB46;
    --color-bordes-3:#31A89E;
    --color-bordes-4:#C2442D;
    --color-bordes-5:#7C1C94;
    --color-bordes-6:#4A4646;
    --color-bordes-7:#D4D2D2;
    --color-boton-principal:#E0263E;
    --color-boton-secundario:#AD0C21;
    --color-boton-principal-2:#FFFF91;
    --color-boton-secundario-2:#FCFC6D;
    --color-boton-principal-3:#FAFAFA;
    --color-boton-secundario-3:#EDEDED;
    --color-boton-principal-4:#30D1CB;
    --color-boton-secundario-4:#28B8B2;
    --color-boton-principal-5:#FF7900;
    --color-boton-secundario-5:#D16600;
    --color-boton-principal-6:#359635;
    --color-boton-secundario-6:#208520;
    --color-boton-principal-7:#F50061;
    --color-boton-secundario-7:#D11761;
    --screen-color:#839E83;
    --body-color:#3B3B3B;
}

@keyframes aparecer{
    from{opacity: 0;}
    to{opacity:1;}
}

@keyframes animacion-pokemon {
    0%{
        transform: translateY(5px);
    }
    40%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(5px);
    }
    
}

/* MAIN CONTAINER */

body{
    background-color: var(--body-color);
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
}

.container{
    display: grid;
    grid-template-columns: 100px 500px 100px;
    grid-template-rows: 200px 80px;
    width: 700px;
    margin: auto;
    margin-top: 200px;
    background-color: var(--screen-color);
    border-radius: 20px;
}

@media screen and (max-width: 700px){
    .container{
        grid-template-columns: 50px 200px 50px;
        width: 300px;
        margin-top: 80px;
    }
}

/* ARROW BUTTONS*/
.arrow-container{
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-container-1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    border-right: 5px groove var(--color-bordes);
}


.arrow-container-2{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    background-color: var(--color-secundario);
    border-left:5px groove var(--color-bordes);
}


.button{
    background-image: radial-gradient(var(--color-boton-principal),var(--color-boton-secundario));
    color: white;
    cursor: pointer;
}

button:hover{
    opacity: 0.6;
}


.arrow{
    width: 80px;
    height: 80px;
    border: none;
}

@media screen and (max-width: 700px){
    .arrow{
        width: 30px;
        height: 30px;
    }
}


.left-arrow{
    clip-path: polygon(70% 0, 25% 50%, 70% 100%);
}

.right-arrow{
    clip-path: polygon(30% 0, 75% 50%, 30% 100%);
}

/* POKEMON COPNTAINER*/
.pokemon-container{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
    font-size: .7rem;
    
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

.side-card{
    filter: brightness(0.1);
    justify-content: center;
}

.pokemon-img{
    width: 125px;
    height: 125px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.main-pokemon{
    animation-name: animacion-pokemon;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@media only screen and (max-width: 700px){
    .side-pokemon-image{
        width: 0;
    }
}

.pokemon-data{
    background-color: var(--body-color);
    padding: 3px;
    text-align: center;
}

.pokemon-name{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pokemon-number{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* PANEL */
.panel{
    background-color: var(--color-principal);
    background-image: linear-gradient(to right, var(--color-principal),var(--color-secundario));
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 700px){
    .panel{
        justify-content: space-evenly;
    }
}


.theme-button{
    clip-path: circle(50.0% at 50% 50%);
    height: 40px;
    align-self: center;
    width: 40px;
    border: none;
    justify-self: start;
}

@media only screen and (max-width: 700px){
    .theme-button{
        height: 20px;
        width: 20px;
    }
}

form{
    display: flex;
    justify-content: space-around;
    gap:50px
}

@media only screen and (max-width: 700px){
    form{
        gap:10px;
        justify-content: center;
    }
}

.id-input{
    height: 30px;
    align-self: center;
    text-align: center;
    font-size: 1rem;
    background-color: var(--screen-color);
    color: white;
    border:none;
    border-bottom: 3px solid var(--color-bordes);
}

.id-input:focus{
    outline: none;
}

.id-input:invalid{
    color:red;
}

@media only screen and (max-width: 700px){
    .id-input{
        width: 50px;
    }
}

.search-button{
    height: 40px;
    align-self: center;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

@media only screen and (max-width: 700px){
    .search-button{
        font-size: .7rem;
        padding-top: 0;
    }
}

/* THEMES */
/* theme 1*/
.theme-1-left-arrow{
    background-color: var(--color-principal);
    border-right: 5px groove var(--color-bordes);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-1-right-arrow{
    background-color: var(--color-secundario);
    border-left: 5px groove var(--color-bordes);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-1-panel{
    background-image: linear-gradient(to right, var(--color-principal),var(--color-secundario));
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-1-button{
    background-image: radial-gradient(var(--color-boton-principal),var(--color-boton-secundario));
    color: white;
}

.theme-1-input{
    border-bottom: 3px solid var(--color-bordes);
}

/*theme 2*/

.theme-2-left-arrow{
    background-color: var(--color-principal-2);
    border-right: 5px groove var(--color-bordes-2);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-2-right-arrow{
    background-color: var(--color-secundario-2);
    border-left: 5px groove var(--color-bordes-2);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-2-panel{
    background-image: linear-gradient(to right, var(--color-principal-2),var(--color-secundario-2));
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-2-button{
    background-image: radial-gradient(var(--color-boton-principal-2),var(--color-boton-secundario-2));
    color:black;
}

.theme-2-input{
    border-bottom: 3px solid var(--color-bordes-2);
}

/*theme 3*/

.theme-3-left-arrow{
    background-color: var(--color-principal-3);
    border-right: 5px groove var(--color-bordes-3);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-3-right-arrow{
    background-color: var(--color-secundario-3);
    border-left: 5px groove var(--color-bordes-3);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-3-panel{
    background-image: linear-gradient(to right, var(--color-principal-3),var(--color-secundario-3));
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-3-button{
    background-image: radial-gradient(var(--color-boton-principal-3),var(--color-boton-secundario-3));
    color: black;
}

.theme-3-input{
    border-bottom: 3px solid var(--color-bordes-3);
}

/*theme 4*/

.theme-4-left-arrow{
    background-color: var(--color-principal-4);
    border-right: 5px groove var(--color-bordes-4);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-4-right-arrow{
    background-color: var(--color-secundario-4);
    border-left: 5px groove var(--color-bordes-4);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-4-panel{
    background-image: linear-gradient(to right, var(--color-principal-4),var(--color-secundario-4));
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-4-button{
    background-image: radial-gradient(var(--color-boton-principal-4),var(--color-boton-secundario-4));
    color: black;
}

.theme-4-input{
    border-bottom: 3px solid var(--color-bordes-4);
}

/*theme 5*/

.theme-5-left-arrow{
    background-color: var(--color-principal-5);
    border-right: 5px groove var(--color-bordes-5);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-5-right-arrow{
    background-color: var(--color-secundario-5);
    border-left: 5px groove var(--color-bordes-5);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-5-panel{
    background-image: linear-gradient(to right, var(--color-principal-5),var(--color-secundario-5));
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-5-button{
    background-image: radial-gradient(var(--color-boton-principal-5),var(--color-boton-secundario-5));
    color: black;
}

.theme-5-input{
    border-bottom: 3px solid var(--color-bordes-5);
}

/*theme 6*/

.theme-6-left-arrow{
    background-color: var(--color-principal-6);
    border-right: 5px groove var(--color-bordes-6);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-6-right-arrow{
    background-color: var(--color-secundario-6);
    border-left: 5px groove var(--color-bordes-6);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-6-panel{
    background-image: linear-gradient(to right, var(--color-principal-6),var(--color-secundario-6));
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-6-button{
    background-image: radial-gradient(var(--color-boton-principal-6),var(--color-boton-secundario-6));
    color: white;
}

.theme-6-input{
    border-bottom: 3px solid var(--color-bordes-6);
}

/*theme 7*/

.theme-7-left-arrow{
    background-color: var(--color-principal-7);
    border-right: 5px groove var(--color-bordes-7);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-7-right-arrow{
    background-color: var(--color-secundario-7);
    border-left: 5px groove var(--color-bordes-7);
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-7-panel{
    background-image: linear-gradient(to right, var(--color-principal-7),var(--color-secundario-7));
    animation-name: aparecer;
    animation-duration: 1s;
}

.theme-7-button{
    background-image: radial-gradient(var(--color-boton-principal-7),var(--color-boton-secundario-7));
    color: white;
}

.theme-7-input{
    border-bottom: 3px solid var(--color-bordes-7);
}



