<ng-container [ngSwitch]="theme">

    
    <ng-container *ngSwitchCase="1">
        <section class="panel theme-1-panel">
            <button class="button theme-button theme-1-button" (click)="changeTheme()"></button>
            <form action="" [formGroup]="porkemonIdForm" (ngSubmit)="onSubmit($event)">
                <input type="number" placeholder="151" name="id" class="id-input theme-1-input" min="1" formControlName="id">
                <button class="button search-button theme-1-button" type="submit">SEARCH</button>
            </form>
            
        </section>
    </ng-container>

    <ng-container *ngSwitchCase="2">
        <section class="panel theme-2-panel">
            <button class="button theme-button theme-2-button" (click)="changeTheme()"></button>
            <form action="">
                <input type="number" placeholder="151" name="id" class="id-input theme-2-input" min="1">
                <button class="button search-button theme-2-button">SEARCH</button>
            </form>
            
        </section>
    </ng-container>

    <ng-container *ngSwitchCase="3">
        <section class="panel theme-3-panel">
            <button class="button theme-button theme-3-button" (click)="changeTheme()"></button>
            <form action="">
                <input type="number" placeholder="151" name="id" class="id-input theme-3-input" min="1">
                <button class="button search-button theme-3-button">SEARCH</button>
            </form>
            
        </section>
    </ng-container>

    <ng-container *ngSwitchCase="4">
        <section class="panel theme-4-panel">
            <button class="button theme-button theme-4-button" (click)="changeTheme()"></button>
            <form action="">
                <input type="number" placeholder="151" name="id" class="id-input theme-4-input" min="1">
                <button class="button search-button theme-4-button">SEARCH</button>
            </form>
            
        </section>
    </ng-container>

    <ng-container *ngSwitchCase="5">
        <section class="panel theme-5-panel">
            <button class="button theme-button theme-5-button" (click)="changeTheme()"></button>
            <form action="">
                <input type="number" placeholder="151" name="id" class="id-input theme-5-input" min="1">
                <button class="button search-button theme-5-button">SEARCH</button>
            </form>
            
        </section>
    </ng-container>

    <ng-container *ngSwitchCase="6">
        <section class="panel theme-6-panel">
            <button class="button theme-button theme-6-button" (click)="changeTheme()"></button>
            <form action="">
                <input type="number" placeholder="151" name="id" class="id-input theme-6-input" min="1">
                <button class="button search-button theme-6-button">SEARCH</button>
            </form>
            
        </section>
    </ng-container>

    <ng-container *ngSwitchCase="7">
        <section class="panel theme-7-panel">
            <button class="button theme-button theme-7-button" (click)="changeTheme()"></button>
            <form action="">
                <input type="number" placeholder="151" name="id" class="id-input theme-7-input" min="1">
                <button class="button search-button theme-7-button">SEARCH</button>
            </form>
            
        </section>
    </ng-container>
    
</ng-container>


